<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.skoona.skn_rpi-display-client</string>
	<key>Program</key>
	<string>/usr/local/bin/lcd_display_client</string>
	<key>ProgramArguments</key>
	<array>
		<string>-u</string>
		<string>-n 330</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/lcd_display_client.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/lcd_display_client.log</string>
</dict>
</plist>
